    <div class="header-search__form mobile-header-fom">
            {% if settings.ss_enable %}
              <form action="{{ routes.search_url }}" method="get" class="search-bar" role="search">
                      <input type="search" name="q"
                      {% if settings.enable_multilang %} data-translate="general.search.placeholder" translate-item="placeholder"{% endif %}
                      placeholder="{% if settings.layout_style == 'layout_style_surfup' %}{{ 'general.search.placeholder3' | t }}{% else %}{{ 'general.search.placeholder' | t }}{% endif %}"
                      class="searchspring-ac input-group-field header-search__input" aria-label="Search Site" autocomplete="off">
                      <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.7918 16.7927L13.7049 12.7057C14.718 11.4706 15.3286 9.88857 15.3286 8.16429C15.3286 4.20918 12.1194 1 8.16429 1C4.20571 1 1 4.20918 1 8.16429C1 12.1194 4.20571 15.3286 8.16429 15.3286C9.88857 15.3286 11.4671 14.7214 12.7022 13.7084L16.7892 17.7918C17.0667 18.0694 17.5143 18.0694 17.7918 17.7918C18.0694 17.5178 18.0694 17.0667 17.7918 16.7927ZM8.16429 13.9027C4.99673 13.9027 2.42245 11.3284 2.42245 8.16429C2.42245 5.0002 4.99673 2.42245 8.16429 2.42245C11.3284 2.42245 13.9061 5.0002 13.9061 8.16429C13.9061 11.3284 11.3284 13.9027 8.16429 13.9027Z" fill="#ACACAC" stroke="#ACACAC" stroke-width="0.4"/>
                        </svg>
              </form>
            {% endif %}

        </div>
